*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-image: url(../images/weather_back-min.jpg);
    background-size: cover;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inner_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 10px 30px -10px rgba(0,0,0,0.39);
}

.padding{
    padding: 20px;
}
.place-input{
    width: 100%;
    height: auto;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 10px auto 10px auto;
}

.geo-input{
    height: auto;
    min-height: 25px;
    margin: 5px auto 20px auto;
}

.button{
    display: block;
    margin: 0 auto 5% auto;
    width: 70%;
    height: auto;
    min-height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.button:focus{
    outline: none;
}
.top-box{
    padding: 10px 0;
    font-size: 1.3em;
    border-top: 3px solid rgba(255, 255, 255, 0.25);
    border-bottom: 3px solid rgba(255,255,255, 0.25);
    margin: 5px 0 10px 0;
    text-align:center;
}

ul{
    list-style: none;
    font-size: 1.1em;
}
ul li:first-child{
    font-size: 1.5em;
}

.bottom-box{
    margin: 3% 0 3% 0;
    text-indent: 5%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.25);
}


@media only screen and (max-width: 900px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .inner_container{
        width: 100%;
        margin: 5% 0 5% 0;
    }
  }